@media screen and (max-width: 480px)  {
    .list{
  
        
        display: inline;
        width: 40% !important;
        margin-left: 3%;
        padding-top: 4%;
        border: 3px solid;
        border-radius: 5%;
        height: 400px !important;
        margin-bottom: 30px;
}
}