.form_bg {
    background-color:#eee;
    color:#666;
    padding:20px;
    border-radius:10px;
    position: absolute;
    border:1px solid #fff;
    margin: auto;
    top: 30px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 570px;
    height: 800px;
}
.align-center {
    text-align:center;
}
label{
   margin-top: 30px;
}
input{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;
 }