ul {
    list-style-type: none;
    margin: "100px 0px 0px 0px";
    padding: 0;
    width: 10%;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li {
    display: block;
    text-decoration: none;
    height: 50px;
  }
  
  li:hover {
    background-color:lightgrey;
    
  }
  button
  {
    height: 50px;
  }
  
  
  
  